@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  box-sizing: border-box;
}

.nav {
  margin-bottom: 50px;
  font-size: large;
  padding-left: 25px;
  padding-right: 15px;
}

.giaoVien {
  border-style: dashed;
  /* background-color:#cc99ff; */
  border-radius: 15px;
}

.chungchi {
  margin-top: 20px;
}

.footer {
  background-color: beige;
  height: 100px;
  width: auto;
  padding-top: 20px;
  margin-top: 50px;
}

.navbar navbar-light {
  margin-right: 0%;
  margin-left: 0%;
}

.navbar {
  padding: 0em 0em;
  margin: 0.2em 0.5em;
  margin-left: 50px;
  margin-right: 50px;
}

.bg-light {
  background-color: white !important;
}

.dropdown-menu:hover {
  color: red;
}

.navbar-light .navbar-nav .nav-link {
  color: #0099ff;
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: #0099ff;
}



/* form */

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="number"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.lienhethongtin .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

/* lienhenchungtoi */
.lienhechungtoi {
  margin-left: 20px;
  margin-right: 20px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

/* footer */
.footer {
  background-color: beige;
  height: 100px;
  width: auto;
  padding-top: 20px;
  margin-top: 50px;
}

html {
  box-sizing: border-box;
}

.nav {
  position: sticky;
  top: 0px;
  margin-bottom: 50px;
  font-size: large;
  z-index: 999;
  padding-left: 25px;
  padding-right: 15px;
  background-color: white;
}

.giaoVien {
  border-style: dashed;
  /* background-color:#cc99ff; */
  border-radius: 15px;
}
.hinhGV{
float: left;
width: 200px;
height: 200px;
padding-right: 15px;
padding-top: 10px;
}

.chungchi {
  margin-top: 20px;
 
}

.navbar navbar-light {
  margin-right: 0%;
  margin-left: 0%;
}

.navbar {
  padding: 0em 0em;
  margin: 0.2em 0.5em;
  margin-left: 50px;
  margin-right: 50px;
}

.bg-light {
  background-color: white !important;
}

.dropdown-menu:hover {
  color: red;
}

.navbar-light .navbar-nav .nav-link {
  color: #0099ff;
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: #0099ff;
}

.socialmedia {
  margin-left: 50px;
  size: 4;
}
.socialmedia span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialmedia a {
  display: grid;
  list-style: none;
  padding: 10px;
  position: relative;
}

.socialmedia i {
  padding: 0;
  font-size: 24px;
}

.fa {
  color: #0099ff;
  height: 30px;
  width: 30px;
  font-size: 30px;
}

.fa-youtube,
.fa-envelope {
  color: red;
  height: 30px;
  width: 30px;
  font-size: 30px;
  margin-left: 15px;
}

/* danh muc  */
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: beige;
  border-color: beige;
}

a:hover {
  color: red;
  text-decoration: none;
}

/* footer */
.footer {
  background-color: beige;
  height: 100px;
  width: auto;
  padding-top: 20px;
  margin-top: 50px;
}

/* this is Thanh */
.section-p1 {
  padding: 40px 80px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.section-p1 h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

.section-p1 h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

.section-p1 h4 {
  font-size: 20px;
  color: #222;
}

.section-p1 h6 {
  font-weight: 700;
  font-size: 12px;
}

.section-p1 p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

#product1 {
  text-align: center;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.3s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  max-height: 300px;
  max-width: 300px;
  border-radius: 20px;
}

#product1 .pro .desc {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .desc span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .desc h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .desc .star {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .desc h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #088178;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#hero {
  background-image: url("img/hero4.jpg");
  height: 100%;
  width: 100%;
  background-size:cover;
  background-position: top 25% right 10%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  text-align: left;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: #088178;
}

#hero button {
  color: #088178;
  background-color: white;
  border: 1px solid #1a1a1a;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  border-radius: 20px;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0 250px;
}

#feature .fe-box {
  width: 180px;
  max-height: 200px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

#pagination{
  text-align: center;
}
#pagination a{
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}
#pagination a i{
  font-size: 16px;
  font-weight: 600;
}
#prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px;
}
.small-img-group{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}
#prodetails{
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-detail{
  width: 50%;
  padding-top: 30px;
}
#prodetails .single-pro-detail h4{
  padding: 40px 0 20px 0;
}
#prodetails .single-pro-detail h2{
  font-size: 26px;
}
#prodetails .single-pro-detail select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#prodetails .single-pro-detail input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-detail input:focus{
  outline: none;
}
#prodetails .single-pro-detail button{
  background-color: #088178;
  color: #fff;
  cursor: pointer;
}
#prodetails .single-pro-detail span{
  line-height: 25px;
}

/* footer */
.footer {
  background-color: beige;
  height:fit-content;
  width: 100%;
  margin-top: 10px;
}

.footer_grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 50px;
  color: #0099ff;
  text-align: left;
}
.footer_grid p,a {
  font-size: 15px;
}

.footer img {
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
  margin-right: 0px;
}

.footer_grid-item3 {
  padding-top: 0px;
  margin: 0px;
  padding-left: 5px;
  text-align: left;
}
.footer_grid-item1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_grid-item1 img{
  max-width: 75%;
  max-height: 75%;
}

/* copyright */
.copyright {
  background-color: #ffe599;
  padding-left: 20px;
}

/* khai giang */
.khaigiang {
  position: sticky;
  top: 0px;
  text-align: center;
  color: red;
  margin-top: 20px;
  margin-bottom: 30px;
}


      /* chuong trinh thieu nhi */
      .cttn {
        background-color: white;
        color: red;
        text-align: center;
        margin: 10px 90px;
        border-radius: 30px;
        padding: 10px;
        border-style: dashed;
      }
      .cttn_nd {
        display: grid;
        grid-template-columns: 50% 50%;
        /* grid-template-rows: repeat(2, 50px); */
        gap: 100px;
        border-radius: 20px;
        margin: 50px;
      }

      /* .cttn_nd1 {
        background-color: #0099ff;
      } */

      .cttn_nd1 h5 {
        text-align: left;
        color: #0099ff;
        font-size: 35px;
        /* margin-top: 30px; */
        background: beige;
        border-radius: 20px;
        padding: 5px 10px;
      }

      .cttn_nd2 h5 {
        color: red;
        font-size: 35px;
        /* margin-top: 30px; */
        background: beige;
        border-radius: 20px;
        padding: 15px;
        text-align: left;
      }
      .cttn_nd1 p {
        padding: 10px;
        font-size: 25px;
        color: aliceblue;
        background-color: #0099ff;
        margin: 0px;
      }

      .cttn_nd2 {
        margin-right: 100px;
      }